{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>sunny4money</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <div class="logo-container">
        <div class="logo-inner">
            <img src="/media/images/plane.png" alt="Plane" class="plane">
            <img src="/media/images/sun.png" alt="Sun" class="sun">
            <h1>sunny4money.co.uk</h1>
        </div>
    </div>   


    <h2>Find the hottest holiday escape possible...</h2>

    <form id="sunnyForm" method="POST">
        {% csrf_token %}
        <label for="location">Your approx. location:</label>
        <input type="text" name="location" id="location" placeholder="Any UK city or post code will do" style="font-size: 14px; width: 300px; padding: 10px;" required><br>
    
        <label for="budget">Your budget (£):</label>
        <input type="number" name="budget" id="budget" placeholder="Recommended range: 50-150" style="font-size: 14px; width: 300px; padding: 10px;" required><br>
    
        <label for="sea">I need to see the sea!</label>
        <input type="checkbox" id="sea" name="sea"><br>
    
        <button type="submit">Submit</button>
    </form>

    <div id="loading" style="display: none;">
        <div class="spinner"></div>
        <p>Finding you somewhere warmer...</p>
    </div>
    
    <div id="results">
        {% if no_flights_message %}
            <h2>{{ no_flights_message }}</h2>
        {% endif %}

        {% if city_name %}
            <div class="container">
                <h2 class="reveal">You're going to {{ city_name }}!</h2>
                <p>Departing from {{ depart_from }} on {{ flight_date }}</p>
                <img src="{{ pic_path }}" alt="city_image" class="city-image">
                <div class="price-and-temp">
                    <h3>Ticket Price: £{{ flight_price }}</h3>
                    <h3>Temperature today: {{ temperature }}°C ({{ uk_temp_diff }}°C hotter than the UK average)</h3>
                </div>
            </div>

            <div class="container">
                <p class="ai_para_1">{{ ai_para_1 }}</p>
                <p class="ai_para_2">{{ ai_para_2 }}</p>
            </div>        
        {% endif %}
    </div>

    <script src="static/javascript/loading.js"></script>

</body>
</html>
