{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}sunny4money{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.65, maximum-scale=0.65" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>

<body>
    <div class="logo-container">
        <div class="logo-inner">
            <img src="{% static 'images/plane.png' %}" alt="Plane" class="plane-still">
            <img src="{% static 'images/sun.png' %}" alt="Sun" class="sun">
            <div class="text-container">
                <h1 class="url">sunny4money.co.uk</h1>
                <div class="navbar">
                    <a href="/" class="nav-link">Home</a>
                    <a href="/about" class="nav-link">About</a>
                    {% if user.is_authenticated %}
                        <a href="/saved_flights" class="nav-link">Saved Flights</a>
                        <a href="/logout" class="nav-link">Log Out</a>
                    {% else %}
                        <a href="/login" class="nav-link">Log In</a>
                        <a href="/register" class="nav-link">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <main>
        {% block body %}
            <!-- page content -->
        {% endblock %}
    </main>

</body>
</html>
